
<div class="row">
  <div class="span6">
    <h2>Instructions for Viewers</h2>

    <p>To View a Conference:
      <ul>
        <li>Click <strong>Conference</strong> in the menu bar.</li>
        <li>Click <strong>View Conference</strong> in the drop down.</li>
        <li>Click the conference date on the subsequent page.</li>
      </ul>
    </p>

    <p>To View a Patient:
      <ul>
        <li>Click <strong>Patient</strong> in the menu bar.</li>
        <li>Click <strong>View Patient</strong> in the drop down.</li>
        <li>Click the patient's <strong>MRN</strong> on the subsequent page.</li>
      </ul>
    </p>

    <p>To Change Your Password, Name, or Email Address:
      <ul>
        <li>Click <strong>Account</strong> in the menu bar.</li>
        <li>Click <strong>Profile</strong> in the drop down.</li>
        <li>Click the <strong>Edit Button</strong> on the subsequent page.</li>
        <li>Make the necessary changes and press the <strong>Save changes</strong> button.</li>
      </ul>
    </p>
  </div>

  <div class="span6">
    <h2>Instructions for Editors</h2>

    <p>To <u>Create</u> a New Patient:
      <ul>
        <li>Click <strong>Patients</strong> in the menu bar.</li>
        <li>Click <strong>Create Patient</strong> in the drop down.</li>
        <li>Fill in all fields (you must fill in the top five).</li>
        <li>Click the <strong>Save Patient</strong> button on the bottom of the page.</li>
      </ul>
    </p>

    <p>To <u>Edit</u> a Patient:
      <ul>
        <li>Click <strong>Patients</strong> in the menu bar.</li>
        <li>Click <strong>View Patients</strong> in the drop down.</li>
        <li>Click the patient's MRN.</li>
        <li>Click the <strong>Edit This Patient</strong> button on the subsequent page.</li>
        <li>Make the necessary changes</li>
        <li>Click the <strong>Save Patient</strong> button on the bottom of the page.</li>
      </ul>
    </p>

    <p>To <u>Create</u> a New Conference:
      <ul>
        <li>Click <strong>Conference</strong> in the menu bar</li>
        <li>Click <strong>Create Conference</strong> in the drop down.</li>
        <li>Enter the correct conference date.</li>
        <li><i>Bug: You must currently <u>first save</u> the conference <u>once</u> prior to adding patients.</i></li>
        <li>Press <strong>Save</strong>.</li>
        <li>Return to the conference and add the appropriate patients</li>
      </ul>
    </p>

    <p>To <u>Edit</u> a Conference:
      <ul>
        <li>Click <strong>Conference</strong> in the menu bar.</li>
        <li>Click <strong>View Conference</strong> in the drop down.</li>
        <li>Click the conference date on the subsequent page.</li>
        <li>Click the <strong>Edit</strong> button on the subsequent page.</li>
        <li>Add and Remove the patients needed.</li>
        <li>Remember to press <strong>Save</strong>.</li>
      </ul>
    </p>

  </div>
</div>
