<% provide(:title, 'Home') %>
<center>
  <h1>CT Surgery Conference</h1>
  <p>Welcome to the Yale New Haven Children's Hospital Pediatric Cardiothoracic Surgery Conference Case Information Website.</p>

  <a href=<%= signup_path %> class="btn btn-primary btn-warning" rel="popover" 
  title="Request Access" data-content="Access is only allowed for
  staff members"><i class="icon-fire icon-white"></i> Request Access</a>
</center>
