// Place all the styles related to the Patient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-form input[class*="span"] {
	width: 146px;
}

.center {
	text-align: center;
}

@media (max-widthL 767px) {
	.custom-form input[class*="span"] {
		margin-bottom:10px;
		width: 100%
	}
}

@media (min-width:768px) and (max-widthL 979px) {
	.custom-form.span8 {
		width: 548px;
	}
}