%footer.span12
  .container-fluid
    %small
      %a{href: "#"} CTS Listing Code
      E. K. Hall
      =show_version
    %nav
      %ul
        %li= link_to "About", "#"
        %li= link_to "Contact", "#"
        %li
          %a{href: "http://www.yale.edu"} Yale
