%footer.span8
  .container
    %small
      %a{href: "#"} Pediatric CT Surgical Conference
      by E. Kevin Hall
    %nav
      %ul.nav.pull-left
        %li= link_to "About", "#"
        %li= link_to "Contact", "#"
        %li
          %a{href: "http://www.yale.edu"} Yale
