%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: "http://www.yale.edu"} Yale Ped Cards
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path
          -if true
            %a{class: "btn btn-inverse"} Sign In
